.main {
  padding: 45px 25px 55px 30px;
}

.lefthead {
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 20px;
  /* identical to box height */

  color: #000000;
}

.signin {
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 3vw;
  line-height: 4rem;
  
  /* identical to box height */

  color: #000000;
}

.subtitle {
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 44px;
  /* identical to box height */

  color: #000000;
}

.textbox {
  text-align: left;
  height: 57px;
}

.text {
  height: 57px;
}

.forgot {
  float: right;
  

  top: 518px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 20px;
  /* identical to box height */

  color: #ad3113;
}

.btn {
  margin-top: 20px;
}

.or{
    color:#ABABAB;
    line-height:2rem;
}