.main {
    padding: 45px 25px 55px 30px;
  }
  
  .lefthead {
    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 20px;
    /* identical to box height */
  
    color: #000000;
  }
  @media only screen and (min-width: 768px) {
    .lefthead {
      font-size: 1.6vw;
    }
  }
  
  .head{
    display:flex;

    gap:23%;
    font-size:2vw;
    text-align:right;

    
}
@media only screen and (min-width: 768px) {
    .head {
      font-size: 0.8vw;
    }
  }


  .signin {
    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 7vw;
    line-height: 4rem;
    
    /* identical to box height */
  
    color: #000000;
  }
  @media only screen and (min-width: 768px) {
    .signin {
      font-size: 2.5vw;
    }
  }
 
  .subtitle {
    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 44px;
    /* identical to box height */
  
    color: #000000;
  }
  @media only screen and (min-width: 768px) {
    .subtitle {
      font-size: 1vw;
    }
  }
 
  
  .textbox {
    text-align: left;
    height: 57px;
  }
  
  .text {
    height: 57px;
  }
  
  
  .btn {
    margin-top: 20px;
  }
  
  .or{
      color:#ABABAB;
      line-height:2rem;
  }